/********************************************************/                            
/*CSS FILE VASILEIOS FOUROULIS - PANAGIOTIS GEORGIOU    */							     
/*	Σύνταξη : τύπος στοιχείου {ιδιότητα: τιμή;}			*/										
/* τύπος στοιχείου μπορεί να είναι :					*/
/* 1) ένα tag της HTML π.χ. : body 						*/
/* 2) μία κλάση : .class η οποία πρέπει να προσδιοριστεί*/
/* στο στοιχείο του εγγράφου HTML για να το μορφωποιήσει*/
/* 3) αναφέροντας το id του στοιχείου : #id 			*/
/********************************************************/

/*
	margin |- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -|
		   |                                                             |
		   | border\-------------------------------------------------\   |                                                             |
		   |       \  padding |- - - - - - - - - - - - - - - - |     \   |
		   |       \          |                                |     \   |
		   |       \          |          element               |     \   |
		   |       \          |                                |     \   |
		   |	   \		  |								   |	 \	 |
		   |       \          |--------------------------------|     \   |
		   |       \-------------------------------------------------\   |
		   |                                                             |
		   |- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -| 
		   
		   margin  = εξωτερικό περιθώριο καλύπτει το κενό ανάμεσα στο έξω χώρο του border και του εγγράφου, είναι διάφανο 
		   border = περίγραμμα του στοιχείου
		   padding = εσωτερικο περιθώριο καλύπτει το κενό ανάμεσα στο border και στο στοιχείο, είναι διάφανο */
		   
body /*μορφωποιεί το στοιχείο (ενώτητα σώματος) body  */
{
background-color : #e4e4e4; /* προσδιορίζει το χρώμα του φόντου της σελίδας μας */
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Containers */

#container 	 /* μορφωποιεί το div με id = "container" */
{
	margin:  auto; 			/* χώρος ανάμεσα στο εξωτερικό του περιγράμματος και όλο το άλλο περιεχόμενο ,  το χαρακτηριστικό auto : σημαίνει
	ότι ο browser καθορίζει το περιθώριο αυτόματα */
	width: 1200px; 			/*  πλάτος του τμήματος container*/
	height : 1000px; /* ύψος τμήματος σε pixels */
	padding: 15px; /* εσωτερικο περιθώριο*/
	background-color : #e4e4e4; /* προσδιορίζει το χρώμα του τμήματος της σελίδας μας */
}


#main_body
{
	float: right;  /* το στοιχείο βρίσκεται στα δεξια  */
	width: 780px; /* πάχος τμήματος */
	background-color :#ffffff; /* προσδιορίζει το χρώμα του φόντου της σελίδας μας */
	height : 1000px; /* ύψος τμήματος */
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Header */

#header
{
    margin:auto; /* καθορίζεται το περιθόριο από τον browser */
	width : 1200px; /* πάχος τμήματος */
}

/* Navigation Bar List */

#navbar /* μορφωποιεί το div με id = "navbar" */
{
padding-bottom: 20px; /* κάτω - εσωτερικο περιθώριο*/
	margin:auto; /* καθορίζεται το περιθόριο από τον browser */
	padding-top: 1px; /* πάνω - εσωτερικο περιθώριο*/
	width : 1200px; /* πάχος τμήματος */
	height : 31px; /* ύψος τμήματος */
	background-color: #3B5998; /* προσδιορίζει το χρώμα του φόντου της σελίδας μας */
}

/* list */
#Navigation_bar_list li /*  μορφωποιεί τις λίστες του τμήματος */
{
	Color: #ffffff;	/* χρώμα γραμματοσειράς */
	font-size: 12px; /* μέγεθος γραμματοσειράς */
	display: inline; /* ορίζόντια στ*/
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif; /* είδος γραμματοσειράς */
}

#Navigation_bar_list a /*  μορφωποιεί τα στοιχεία <α> </α> του τμήματος */
{
	text-decoration: none; /* απλό κείμενο */
	Color: #ffffff;	 /* χρώμα γραμματοσειράς */
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif; /* είδος γραμματοσειράς */
}

#Navigation_bar_list a:hover /*μορφωποιεί τους υπερσυνδέσμους που βρίσκονται στο τμήμα όταν περάσει το ποντίκι πάνω από αυτούς */
{
	text-decoration: underline; /* διακόσμηση των υπερσυνδέσμων κειμένου : υπογεγραμμένη */
}

#to_the_basket 
{ 
	float :right ; /* στοίχιση στα δεξια */
	margin: -7px; /* πλαίσιο εξωτερικό */
	padding-right: 4px; /* δεξιό - εσωτερικο περιθώριο*/
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*forms*/

#forms 
{
	width : 1200px ; /* πάχος τμήματος */
	height : 82px;  /* ύψος τμήματος */
	background-color :#ffffff;	/* προσδιορίζει το χρώμα του φόντου της σελίδας μας */
	margin:  auto;  /* καθορίζεται το περιθόριο από τον browser */
}

#forms li /*  μορφωποιεί τις λίστες του τμήματος */
{
	display: inline; /* μορφωποιεί την λίστα έτσι ώστε αντί να είναι κάθετη να είναι οριζόντια */
}
.search /* κλάση */
{
	float : right; 
	margin-top: 30px;
}

.search_button
{
	float: right;
	margin-top: 30px;
}

.Category
{
	float: left;
	margin-top: 25px;
}

/*********************************************************************************************************************************************************************/
/*footer*/
footer
{
	background-color: #3B5998; /* προσδιορίζει το χρώμα του φόντου της σελίδας μας */
	height : 40px;
	margin:auto;
	width : 1200px; /* πάχος τμήματος */
}

footer p /* μορφοποίηση των παραγράφων <p> </p> του τμήματος*/
{
	text-decoration: none; /* normal κείμενο */
	Color: #ffffff;	 /* χρώμα γραμματοσείρας */
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif; /* είδος γραμματοσείρας */
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* μορφοποίηση productpage.html & customer_care.html*/
#main_body2
{
width: 1200px; /* πάχος τμήματος */
background-color: #ffffff; /* χρώμα φόντου*/
height:300px; /* ύψος τμήματος */
}

#container2
{
	margin:  auto; 			/* χώρος ανάμεσα στο εξωτερικό του περιγράμματος και όλο το άλλο περιεχόμενο ,  το χαρακτηριστικό auto : σημαίνει
	ότι ο browser καθορίζει το περιθώριο αυτόματα */
	width: 1200px; 			/*  πλάτος του τμήματος container*/
	height : 627px;
	padding: 15px;
	background-color : #e4e4e4; /* προσδιορίζει το χρώμα του φόντου της σελίδας μας */
}
#welcome
{
float:left;
color: #3B5998;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
margin-top: 7.5px;

 }
 
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*	μορφοποίηση customer_care.html*/ 

#care 
{
	text-align:center;
}
#table_care td
{
	 padding: 15px;
	
}
#container3
{
	margin:  auto; 			/* χώρος ανάμεσα στο εξωτερικό του περιγράμματος και όλο το άλλο περιεχόμενο ,  το χαρακτηριστικό auto : σημαίνει
	ότι ο browser καθορίζει το περιθώριο αυτόματα */
	width: 1200px; 			/*  πλάτος του τμήματος container*/
	height : 300px;
	padding: 15px;
	background-color : #e4e4e4; /* προσδιορίζει το χρώμα του φόντου της σελίδας μας */
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/	

.FontStyle /* κλάση */
{
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: #3B5998;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Order forms μόνο στο αρχείο productpage.html*/
#imgmorph /* μορφοποιεί τις εικόνες στο left nav*/
{
margin-left: 50px;
}	
#table_payment /* μορφοποιεί πίνακα */
{
	padding-top : 100px;
	padding-left : 100px;
}

#proceed /* μορφοποιεί το κουμπί validate και procced */
{
	padding-left : 100px;
}

#leftNav 	 /* μορφωποιεί το div με id = "second_container" */
{		
	float : left; /* το στοιχείο βρίσκεται στα αριστερά  */
	padding-right: 40px; /*  αριστερό εσωτερικο περιθώριο*/
	width: 360px; /* πάχος τμήματος */
	height : 1000px; /* ύψος τμήματος */
	background-color :#ffffff;
	position: absolute; /* θέση του τμήματος  */
}